:root {
    --main-color: #2582df;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: #8d56e4;
}

h1 {
    font-size: 32px;
    line-height: 40px;
}

h2 {
    font-size: 24px;
    line-height: 32px;
}

img {
    border: 2px solid rgb(83, 50, 160);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #a6a6e6;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
    margin-top: 100px;
}

.page {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
    padding: 20px;
    margin-top: 100px;
}

article {
    margin: 20px;
}

.content {
    padding: 20px;
    background-color: #fafafa;
    color: var(--main-color);
}

.overview a {
    display: block;
    color: var(--main-color);
    text-decoration: none;
    margin-bottom: 10px;
}

.overview a:hover,
.overview a:focus {
    text-decoration: underline;
}

a:hover,
a:focus {
    text-decoration: underline;
}

input[type="submit"]:hover {
    background-color: #cccccc;
}

input[type="submit"]:active {
    background-color: #aaaaaa;
}